<div style="padding-top:5%; width:50%; padding-left: 3%;">
    <h1>Your Favorites POIs:</h1>
    <button ng-click="updateAllFavorites()">Update favorites</button>

    <div  ng-repeat="poi in fav">
        <div style="border: solid">
            <a ng-click="onclick(poi, 'myModalSearch')">
                <header>
                    <h3>{{poi.NamePOI}}</h3>
                </header>
                <img ng-src={{poi.Picture}} height="200" width="400" alt=""/></a>
            <input  type="checkbox" ng-show="loged" ng-click="addToFavorites(poi)"
                    ng-checked={{isInFavorites(poi)}}><spam ng-show="loged">In My Favorites</spam>
            <!-- The Modal -->
            <div id="myModalSearch{{poi.NamePOI}}" class="modal">
                <!-- Modal content -->
                <div>
                    <div class="modal-content">
                        <span ng-click="onXClickSearch(poi.NamePOI, 'myModalSearch')" class="close">&times;</span>
                        <h3>{{poi.NamePOI}}</h3>
                        <section>Category: {{categoryJSON[poi.CategoryID]}}
                            <br>
                            Rank: {{poi.Rank}}
                            <br>
                            Details: {{poi.Details}}
                            <br>
                            Number of Views: {{poi.NumOfViews}}
                            <br>
                            <span ng-bind-html="reviews"></span>
                        </section>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>