<div style="padding-top:2%; padding-left: 3%;">
    <h1 class="loginTitle">Your Favorites POIs:
    </h1>
    <button class="form-style-5" ng-click="updateAllFavorites()">Update favorites</button>
    <div class="container">
        <div class="inner">


    <div  ng-repeat="poi in fav" class="responsive child">
        <div   class="gallery" style="background-color: white; width: 95%; height: 95%">
            <a ng-click="onclick(poi, 'myModalSearch')">
                <img ng-src={{poi.Picture}} height="200" width="400" alt=""/>
                <header>
                    <h3>{{poi.NamePOI}}</h3>
                </header>
                </a>
            <input type="checkbox" ng-show="loged" ng-click="addToFavorites(poi)"
                    ng-checked={{isInFavorites(poi)}}><span ng-show="loged">In My Favorites</span>
            <!-- The Modal -->
            <div id="myModalSearch{{poi.NamePOI}}" class="modal">
                <!-- Modal content -->
                <div>
                    <div class="modal-content">
                        <span ng-click="onXClickSearch(poi.NamePOI, 'myModalSearch')" class="close">&times;</span>
                        <h3>{{poi.NamePOI}}</h3>
                        <section>Category: {{categoryJSON[poi.CategoryID]}}
                            <br>
                            Rank: {{poi.Rank}}
                            <br>
                            Details: {{poi.Details}}
                            <br>
                            Number of Views: {{poi.NumOfViews}}
                            <br>
                            <span ng-bind-html="reviews"></span>
                        </section>
                    </div>
                </div>
            </div>

        </div>
    </div>
        </div></div>

</div>