<div style="padding-top:5%; width:50%; padding-left: 3%;">
    <!--    RANDOM 3 POI:-->
    <div ng-repeat="poi in POIs">
        <div id="poi_Div" style="border: solid">
            <a ng-click="onclick($index)">
                <header>
                    <h3>{{poi.NamePOI}}</h3>
                </header>
                <img ng-src={{poi.Picture}} height="200" width="400" alt=""/></a>


            <!-- The Modal -->
            <div id="myModal{{$index}}" class="modal">

                <!-- Modal content -->

                <div>
                    <div class="modal-content">
                        <span ng-click="onXClick($index)" class="close">&times;</span>
                        <h3>{{poi.NamePOI}}</h3>
                        <section>Category: {{categoryJSON[poi.CategoryID]}}
                            <br>
                            Rank: {{poi.Rank}}
                            <br>
                            Details: {{poi.Details}}
                            <br>
                            Number of Views: {{poi.NumOfViews}}
                            <br>
                            Reviews:
                            </br>
                            <span ng-bind-html="reviews"></span>
                        </section>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
