<div style="padding-top:5%; padding-left: 15%;">
    <p class="h1welcome">Welcome</p>
    <p class="h1welcome" style="font: 200 1em/1 'Raleway', sans-serif;">here's some random locations from Bacelona</p>
    <!--    RANDOM 3 POI:-->
    <div id="container">
        <div id="inner">


    <div ng-repeat="poi in POIs"  class="child responsive">
        <div id="poi_Div"  class="gallery" style="background-color: white; width: 95%; height: 95%">
            <a ng-click="onclick($index)">
                <img ng-src={{poi.Picture}} height="200" width="400" alt=""/>
                <header class="desc">
                    <h3>{{poi.NamePOI}}</h3>
                </header>
                </a>


            <!-- The Modal -->
            <div id="myModal{{$index}}" class="modal">

                <!-- Modal content -->

                <div>
                    <div class="modal-content">
                        <span ng-click="onXClick($index)" class="close">&times;</span>
                        <h3>{{poi.NamePOI}}</h3>
                        <section>Category: {{categoryJSON[poi.CategoryID]}}
                            <br>
                            Rank: {{poi.Rank}}
                            <br>
                            Details: {{poi.Details}}
                            <br>
                            Number of Views: {{poi.NumOfViews}}
                            <br>
                            Reviews:
                            </br>
                            <span ng-bind-html="reviews"></span>
                        </section>
                    </div>
                </div>
            </div>

        </div>
    </div>

    </div>

</div>