<div style="padding-top:5%; width:50%; padding-left: 3%;">

    <table>
        <th>Filter The Results</th>
        <tr>
            <td>
<!--                <input type="checkbox" ng-model="rank" value="rank">By Rank-->
                <button ng-click="byRank()">By Rank</button>
            </td>
        <tr>
            <td>
                <input id="byName" name="byName" ng-model="searchName" placeholder="Search By Name" class="form-control">
            </td>
        </tr>
        <td>
            <select id="categories" name="categories" ng-model="categories">
                <option value="">None</option>
                <option value="1">Architecture</option>
                <option value="2">Museums</option>
                <option value="3">Shopping</option>
                <option value="4">Restaurants</option>
            </select>
            <button ng-click="sortByCategory()">Search By Category</button>
        </td>
        </tr>
    </table>

    <!--    A-Z SORTED-->
    <br>
    <br>
    <div ng-hide="rank || categories" ng-repeat="poi in allPOIs | filter:searchName" >
        <div>
            <a ng-click="onclick(poi, 'myModalSearch')">
                <header>
                    <h2>{{poi.NamePOI}}</h2>
                </header>
                <img ng-src={{poi.Picture}} height="200" width="400" alt=""/></a>
            <button ng-show="loged" ng-click="addToFavorites(poi)">Add To Favorites</button>
            <!-- The Modal -->
            <div id="myModalSearch{{poi.NamePOI}}" class="modal">
                <!-- Modal content -->
                <div>
                    <div class="modal-content">
                        <span ng-click="onXClickSearch(poi.NamePOI, 'myModalSearch')" class="close">&times;</span>
                        <h3>{{poi.NamePOI}}</h3>
                        <section>Category: {{categoryJSON[poi.CategoryID]}}
                            <br>
                            Rank: {{poi.Rank}}
                            <br>
                            Details: {{poi.Details}}
                            <br>
                            Number of Views: {{poi.NumOfViews}}
                            <br>
                            <span ng-bind-html="reviews"></span>
                        </section>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--SORT BY RANK-->
    <div ng-hide="rank == false" ng-hide="categories" ng-repeat="poi in ranked | filter:searchName" style="border: solid">
        <div>
            <a ng-click="onclick(poi, 'myModalSearchRank')">
                <header>
                    <h2>{{poi.NamePOI}}</h2>
                </header>
                <img ng-src={{poi.Picture}} height="200" width="400" alt=""/></a>
            <button ng-show="loged" ng-click="addToFavorites(poi)">Add To Favorites</button>
            <!-- The Modal -->
            <div id="myModalSearchRank{{poi.NamePOI}}" class="modal">
                <!-- Modal content -->
                <div>
                    <div class="modal-content">
                            <span ng-click="onXClickSearch(poi.NamePOI, 'myModalSearchRank')"
                                  class="close">&times;</span>
                        <h3>{{poi.NamePOI}}</h3>
                        <section>Category: {{categoryJSON[poi.CategoryID]}}
                            <br>
                            Rank: {{poi.Rank}}
                            <br>
                            Details: {{poi.Details}}
                            <br>
                            Number of Views: {{poi.NumOfViews}}
                            <br>
                            <span ng-bind-html="reviews"></span>
                        </section>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--    SORT BY CATEGORY-->
    <div ng-hide="rank" ng-repeat="poi in categorySorted | filter:searchName" >
        <div>
            <a ng-click="onclick(poi, 'myModalSearchCat')">
                <header>
                    <h2>{{poi.NamePOI}}</h2>
                </header>
                <img ng-src={{poi.Picture}} height="200" width="400" alt=""/></a>
            <button ng-show="loged" ng-click="addToFavorites(poi)">Add To Favorites</button>
            <!-- The Modal -->
            <div id="myModalSearchCat{{poi.NamePOI}}" class="modal">
                <!-- Modal content -->
                <div>
                    <div class="modal-content">
                            <span ng-click="onXClickSearch(poi.NamePOI, 'myModalSearchCat')"
                                  class="close">&times;</span>
                        <h3>{{poi.NamePOI}}</h3>
                        <section>Category: {{categoryJSON[poi.CategoryID]}}
                            <br>
                            Rank: {{poi.Rank}}
                            <br>
                            Details: {{poi.Details}}
                            <br>
                            Number of Views: {{poi.NumOfViews}}
                            <br>
                            <span ng-bind-html="reviews"></span>
                        </section>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

