<div style="padding-top:5%; width:50%; padding-left: 3%;">


    <div ng-repeat="poi in POIs">
        <div id="poi_Div" style="border: solid" ng-click="onclick()">
            <h1>{{poi.NamePOI}}</h1>
            <p>{{poi.Location}}</p>
            <span><img src="poi.Picture" height="200" width="200"></span>

<!--            <div id="divTOshow" class="modal" ng-show="clicked">-->
<!--                <div class="modal-content" ng-bind-html="divText">-->
<!--                    <span class="close">&times;</span>-->
<!--                    <h2 id="poiName"></h2><br><br>-->
<!--                    <p id="categoryP">-->
<!--                        Category: {{poi.CategoryID}}-->
<!--                        <br>-->
<!--                        {{poi.Location}}-->
<!--                        <br>-->
<!--                        {{poi.Details}}-->
<!--                        <br>-->
<!--                        Rank: {{poi.Rank}}-->
<!--                        <br>-->
<!--                        Number Of Viewers: {{poi.numOfViews}}-->
<!--                        <br>-->
<!--                    </p>-->
<!--                </div>-->
<!--        </div>-->
    </div>


    </div>


</div>
